:host ::ng-deep {
  .p-scroller-viewport {
    flex: none;
  }
}

/* styles.css */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

.main-content {
  background: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

.transparent-background {
  align-items: center;
  display: flex;
  height: 225px;
  margin-bottom: 30px;
  background: rgba(154, 151, 151, 0.27); /* Colore grigio semi-trasparente */

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transparent-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  opacity: 0.5; /* Opacità al background */
  z-index: -1; /* Posiziona dietro il contenuto */
}
