
<p-card header="REGISTRATI" class="container">


  <ng-template pTemplate="content">
    <form [formGroup]="form" (keydown.enter)="registration()" >
      <p-floatLabel>
        <input pInputText formControlName="username" />
        <label>Username</label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText formControlName="password"  type="password"/>
        <label>Passoword</label>
      </p-floatLabel>
    </form>
    <p-button  label="ACCEDI" (click)="registration()" />
  </ng-template>

</p-card>



