
<p-card header="LOGIN" class="container" *transloco = "let t">
  @if(showError){
    <div class="card"  style="color: brown">
      Errore
    </div>
  }

  <ng-template pTemplate="content">
    <form [formGroup]="form" (keydown.enter)="login()" >
      <p-floatLabel>
        <input pInputText formControlName="username" />
        <label>{{t('login-username')}}</label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText formControlName="password"  type="password"/>
        <label>Passoword</label>
      </p-floatLabel>
    </form>
    <p-button  label="ACCEDI" (click)="login()" /> <p-button   label="REGISTRATI" (click)="goToRegistration()" />
  </ng-template>

</p-card>



